<div>
    <table style="width:100%;">
        <tr>
            <th>Name</th>
            <th>CPF</th>
            <th>Email</th>
            <th>Competitions</th>
            <th>Phone</th>
            <th>Status</th>
        </tr>
        <tr *ngFor="let item of users;">
            <td>{{ item?.name }}</td>
            <td>{{ item?.cpf }}</td>
            <td>{{ item?.email }}</td>
            <td>{{ item?.competencias }}</td>
            <td>{{ item?.phone }}</td>
            <td>{{ item?.status }}</td>
        </tr>
    </table>
</div>