
    <form [formGroup]="registerForm">
        
        <h1>Login</h1>

        <mat-form-field>
            <input matInput placeholder="Enter your User" formControlName="user" required>
            <mat-error *ngIf="registerForm.get('user').errors && registerForm.get('user').touched">
                {{registerForm.get('user').errors.message}}
            </mat-error>
        </mat-form-field>
        <br>
        <mat-form-field>
                <input matInput placeholder="Enter your Pass" formControlName="pass" type="password" required>
            <mat-error *ngIf="registerForm.get('pass').errors && registerForm.get('pass').touched">
                {{registerForm.get('pass').errors.message}}
            </mat-error>
        </mat-form-field>
        <br>
        <button mat-stroked-button (click)="goToValidate()">Enter</button>
    </form> 
